# Python Data Types Tutorial

This notebook covers all major data types in Python with examples and explanations.

## 1. Numeric Types

Python supports three numeric types:
- **int**: Integer numbers
- **float**: Floating point numbers
- **complex**: Complex numbers

In [1]:
# Integer (int)
age = 25
population = 1000000
negative_num = -42

In [2]:
# Float
price = 99.99
temperature = -5.5
pi = 3.14159

In [3]:
# Complex
complex_num1 = 3 + 4j
complex_num2 = complex(2, -5)

## 2. String (str)

Strings are sequences of characters enclosed in quotes.

In [4]:
# Different ways to create strings
single_quote = 'Hello'
double_quote = "World"
triple_quote = '''This is amulti-line string'''

In [ ]:
# String operations
name = "Python"

# Concatenation
greeting = "Hello " + name

# Repetition
repeated = name * 3

# Indexing
first_char = name[0]

# Slicing
substring = name[0:3]

# String methods
name.upper()
name.lower()
len(name)

## 3. Boolean (bool)

Boolean represents True or False values.

In [ ]:
# Boolean values
is_active = True
is_deleted = False



# Boolean operations
True and False
True or False
not True

# Comparison operators return boolean
{5 > 3}
{10 == 10}
{'a' < 'b'}

## 4. List

Lists are ordered, mutable collections that can contain items of different types.

In [ ]:
# Creating lists
numbers = [1, 2, 3, 4, 5]
mixed_list = [1, "hello", 3.14, True]
nested_list = [[1, 2], [3, 4], [5, 6]]

In [ ]:
# List operations
fruits = ['apple', 'banana', 'cherry']



# Adding elements
fruits.append('orange')


fruits.insert(1, 'mango')


# Removing elements
fruits.remove('banana')


popped = fruits.pop()


# Slicing
fruits[0:2]

# Length
len(fruits)

## 5. Tuple

Tuples are ordered, immutable collections.

In [ ]:
# Creating tuples
coordinates = (10, 20)
single_item = (42,)  # Note the comma for single-item tuple
mixed_tuple = (1, "hello", 3.14, True)

In [ ]:
# Tuple operations
colors = ('red', 'green', 'blue')



# Tuple unpacking
r, g, b = colors



# Concatenation
more_colors = colors + ('yellow', 'purple')

## 6. Set

Sets are unordered collections of unique elements.

In [ ]:
# Creating sets
unique_numbers = {1, 2, 3, 4, 5}
fruits_set = {'apple', 'banana', 'cherry'}
from_list = set([1, 2, 2, 3, 3, 4])  # Duplicates removed

In [ ]:
# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Adding elements
set1.add(5)

# Removing elements
set1.remove(5)

# Set operations
"Union: {set1 | set2}"
"Intersection: {set1 & set2}"
"Difference (set1 - set2): {set1 - set2}"
"Symmetric difference: {set1 ^ set2}"

# Membership testing
"3 in set1: {3 in set1}"
"10 in set1: {10 in set1}"

## 7. Dictionary (dict)

Dictionaries are unordered collections of key-value pairs.

In [ ]:
# Creating dictionaries
person = {
    'name': 'John',
    'age': 30,
    'city': 'New York'
}

empty_dict = {}
dict_constructor = dict(a=1, b=2, c=3)

In [ ]:
# Dictionary operations
student = {
    'name': 'Alice',
    'age': 22,
    'courses': ['Math', 'Physics', 'Chemistry']
}

# Accessing values
"Name: {student['name']}"
"Age: {student.get('age')}"
"Grade (with default): {student.get('grade', 'Not available')}"

# Adding/updating values
student['grade'] = 'A'
student['age'] = 23


# Removing items
removed_value = student.pop('grade')


# Dictionary methods
print(f"\nKeys: {student.keys()}")
print(f"Values: {student.values()}")
print(f"Items: {student.items()}")

## 8. NoneType

None represents the absence of a value.

In [ ]:
# None type
nothing = None

print(f"Value: {nothing}, Type: {type(nothing)}")

## 9. Type Conversion

Converting between different data types.

In [ ]:
# String to number
str_num = "123"
int_num = int(str_num)
float_num = float(str_num)

print(f"String '{str_num}' to int: {int_num}, type: {type(int_num)}")
print(f"String '{str_num}' to float: {float_num}, type: {type(float_num)}")

# Number to string
num = 456
str_from_num = str(num)
print(f"\nNumber {num} to string: '{str_from_num}', type: {type(str_from_num)}")

# List, tuple, set conversions
my_list = [1, 2, 3, 2, 1]
my_tuple = tuple(my_list)
my_set = set(my_list)

## 10. Type Checking

Checking the type of variables.

In [ ]:
# Using type() function
variables = [
    42,
    3.14,
    "hello",
    [1, 2, 3],
    (1, 2, 3),
    {1, 2, 3},
    {'a': 1},
    True,
    None
]

## Summary

Python's main data types:

| Data Type | Mutable | Ordered | Example |
|-----------|---------|---------|----------|
| int | No | N/A | `42` |
| float | No | N/A | `3.14` |
| complex | No | N/A | `3+4j` |
| str | No | Yes | `"hello"` |
| bool | No | N/A | `True` |
| list | Yes | Yes | `[1, 2, 3]` |
| tuple | No | Yes | `(1, 2, 3)` |
| set | Yes | No | `{1, 2, 3}` |
| dict | Yes | No* | `{'a': 1}` |
| NoneType | No | N/A | `None` |

*Note: As of Python 3.7+, dictionaries maintain insertion order.