# Python Loops Tutorial

Welcome to this comprehensive tutorial on Python loops! We will cover For Loops, While Loops, Control Statements, and advanced concepts, providing **3 distinct examples** for each to ensure you have a solid understanding.

## 1. For Loops

A `for` loop is used for iterating over a sequence (list, tuple, dictionary, set, or string).

### Example 1.1: Iterating over a list
The most common use case is iterating through items in a list.

In [1]:
fruits = ["apple", "banana", "cherry"]

for j in fruits:
    print(j)

apple
banana
cherry

In [2]:
b= range(10)
b

range(0, 10)

In [3]:
c= range(3,10)
c

range(3, 10)

In [4]:
d= range(1,20,2)
d

range(1, 20, 2)

In [5]:
bb= list(b)
bb

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(c)

[3, 4, 5, 6, 7, 8, 9]

In [7]:
list(d)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
cc=0
for i in range(3,10,6):
    print(i)

3
9

In [12]:
a =[1,9,8,10,34,52] # 1+9+8+....+52

In [14]:
a_sum=0
for i in a:
    a_sum = a_sum+i
    print(a_sum)

1
10
18
28
62
114

In [15]:
a_sum

114

In [18]:
odd_num = [1,3,5,7,9,11] # 1+27+125+....
sum_a=0
for i in odd_num:
    sum_a =sum_a+i**3

In [20]:
sum_a

2556

### Example 1.2: Using `range()` with start, stop, and step
The `range()` function is versatile. You can specify where to start, where to stop, and the step size.

In [ ]:
print("Even numbers from 0 to 10:")
for i in range(0, 11, 2):
    print(i)

### Example 1.3: Iterating over a Dictionary
You can iterate over keys and values in a dictionary.

In [21]:
person = {"name": "Alice", "age": 30, "city": "New York"}

In [29]:
person['age']

30

In [23]:
person.keys()

dict_keys(['name', 'age', 'city'])

In [25]:
person.values()

dict_values(['Alice', 30, 'New York'])

In [26]:
person.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

In [27]:
for k,v in person.items():
    print(k,v)

name Alice
age 30
city New York

In [28]:
sen =" Hi I love Chinese food"

for i in sen:
    print(i)

H
i

I

l
o
v
e

C
h
i
n
e
s
e

f
o
o
d

## 2. While Loops

A `while` loop executes a set of statements as long as a condition is true.

### Example 2.1: Basic Counter
A simple loop that increments a counter.

In [31]:
count = 1

In [32]:
while count<=5:
    count= count+1
    print(count)

2
3
4
5
6

### Example 2.2: Processing a List
Using a while loop to pop items from a list until it's empty.

In [ ]:
tasks = ["Email", "Meeting", "Coding"]
print("Processing tasks:")
while tasks:
    current_task = tasks.pop(0)
    print(f"Completing: {current_task}")

### Example 2.3: Doubling numbers
Looping until a calculated value reaches a threshold.

In [34]:
number = 1
while number <= 50:
    number += 10
    print(number)

11
21
31
41
51

In [35]:
i= 1

while i<=100:
    i=i*5
    print(i)

5
25
125

In [41]:
i= 1

while i<=1000:
    i=i*5
    if i==25:
        break
    print(i)
a=6
print(a)

5
6

In [40]:
i= 1

while i<=200:
    i=i*5
    if i==25:
        continue
    print(i)

5
125
625

## 3. The `break` Statement

`break` stops the loop completely, regardless of the condition.

### Example 3.1: Stop when finding an item

In [ ]:
items = [10, 20, 30, 40, 50]
print("Searching for 30:")
for item in items:
    print(f"Checking {item}...")
    if item == 30:
        print("Found it! Stopping.")
        break

### Example 3.2: Limiting a Sum

In [ ]:
total = 0
print("Adding numbers, stopping if sum > 10:")
for i in range(1, 10):
    total += i
    if total > 10:
        print(f"Sum ({total}) exceeded 10. Breaking at {i}.")
        break
    print(f"Added {i}, total is {total}")

### Example 3.3: Infinite Loop with conditional break
Common pattern for user input (simulated here).

In [ ]:
attempt = 0
while True:
    attempt += 1
    print(f"Attempt {attempt}")
    if attempt == 3:
        print("Success on attempt 3! Breaking.")
        break

## 4. The `continue` Statement

`continue` skips the rest of the current iteration and jumps to the next one.

### Example 4.1: Skip a specific value

In [ ]:
for i in range(1, 4):
    if i == 2:
        print("Skipping 2")
        continue
    print(f"Processing {i}")

### Example 4.2: Print only odd numbers

In [ ]:
print("Odd numbers only:")
for i in range(6):
    if i % 2 == 0:
        continue
    print(i)

### Example 4.3: Filter data types

In [ ]:
data = ["apple", 42, "banana", 100, "cherry"]
print("Printing only strings:")
for item in data:
    if not isinstance(item, str):
        continue
    print(f"String found: {item}")

## 5. Nested Loops

Loops inside loops.

### Example 5.1: Combinations

In [ ]:
colors = ["Red", "Blue"]
sizes = ["Small", "Large"]
for c in colors:
    for s in sizes:
        print(f"{c} - {s}")

### Example 5.2: Multiplication Table (Small)

In [ ]:
print("Multiplication Table (1-3):")
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i*j}")
    print("---")

### Example 5.3: Pattern Printing

In [ ]:
print("Star Pattern:")
for i in range(1, 4):
    # Inner loop for printing stars
    line = ""
    for j in range(i):
        line += "*"
    print(line)

## 6. Loops with `else` block

The `else` block runs **only if the loop completes normally** (without a `break`).

### Example 6.1: For-Else (Completion)

In [ ]:
for i in range(3):
    print(f"Iteration {i}")
else:
    print("Loop finished successfully!")

### Example 6.2: Search Scenario (Not Found)
This is a very powerful use case. We can tell if an item was NOT found.

In [ ]:
numbers = [1, 3, 5, 7]
target = 4
print(f"Searching for {target}...")

for num in numbers:
    if num == target:
        print("Found!")
        break
else:
    print(f"{target} not found in the list.")

### Example 6.3: While-Else

In [47]:
count = 0
while count < 3:
    print(count)
    count += 1
else:
    print("While loop condition became false.")

0
1
2
While loop condition became false.

## 7. Loop Helpers: `range()` and `enumerate()`

These built-in functions and methods are extremely useful when working with loops.

### `range()` usage
The `range()` function returns a sequence of numbers. It is often used for looping a specific number of times.

In [ ]:
print("Range(5):")
for i in range(5):
    print(i, end=" ")  # 0 1 2 3 4

print("\n\nRange(2, 6):")
for i in range(2, 6):
    print(i, end=" ")  # 2 3 4 5

print("\n\nRange(0, 10, 3):")
for i in range(0, 10, 3):
    print(i, end=" ")  # 0 3 6 9

### `enumerate()` usage
The `enumerate()` function takes a collection (e.g. a tuple) and returns it as an enumerate object.
This adds a counter as the key of the enumerate object.

In [42]:
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry

In [ ]:
#nested loop

In [ ]:
a= [2,4,7,10]
b= [34,56,88, 12]  # 

# 2*34+2*56 +2*88+2*12 =380
# 4*34+4*56 +4*88+4*12 =760

In [46]:
for x in a:
    a_sum=0
    for y in b:
        a_sum=a_sum +x*y
    print(a_sum)

380
760
1330
1900

In [ ]:
# list comprehension